    <!-- WRAPPER -->
    <div class="wrapper">

        <!-- HERO -->
        <div id="home" class="flexslider fullheight color-white">
            <ul class="slides">

                <!-- SLIDE 1 -->
                <li class="bg-black-alfa-40 img-pequeña" style="background-image:url(assets/images/slider-dos.jpg)">
                    <!-- HERO TEXT -->
                    <div class="hero-caption">
                        <div class="hero-text">

                            <div class="container">

                                

                            </div>

                        </div>
                    </div>
                    <!-- END HERO TEXT -->
                </li>
                <!-- END SLIDE 1 -->

            

                <!-- SLIDE 3 -->
                <li class="bg-black-alfa-30 img-pequeña" style="background-image:url(assets/images/slider-uno.jpg)">
                    <!-- HERO TEXT -->
                    <div class="hero-caption">
                        <div class="hero-text">

                            <div class="container">

                                

                            </div>

                        </div>
                    </div>
                    <!-- END HERO TEXT -->
                </li>
                <!-- END SLIDE 3 -->
            </ul>
        </div>
        <!-- END HERO -->

        <!-- ABOUT -->
        <section class="module">
            <div class="container">

                <div class="row">
                    <div class="col-sm-6 col-sm-offset-3">
                        <div class="module-header text-center">
                            <h2 class="montserrat text-uppercase">Nosotros</h2>
                        </div>
                    </div>
                </div><!-- .row -->


                <div class="row">
                    <div class="col-sm-10 col-sm-offset-1">
                        <p class="lead text-justify">
                        Somos un equipo l&iacute;der en la venta de productos para la salud y belleza, en la forma directa, por cat&aacute;logo, cara a cara o puerta a puerta.
Hacemos del entusiasmo nuestra bandera. Nuestro nombre ENTHEOS tiene su origen en la Grecia antigua y significa “llevar a Dios por dentro”. Los griegos dec&iacute;an que las personas entusiastas tienen ese poder, un tipo de fuerza divina de hacer que las cosas sucedan.
Las personas que lo integramos sabemos de la importancia del trabajo en equipo, superando nuestras individualidades, logramos unificar criterios y sortear dificultades. Tambi&eacute;n sabemos que para desarrollarnos como equipo y alcanzar nuestro m&aacute;ximo potencial, tenemos que estar dispuestos a hacer algo más que cambiar, necesitamos continuar creciendo. Para ello nuestra misión es incorporar buenas personas y desarrollarlas incentivando la constante capacitación.
“El capital humano se desplaza all&iacute; donde es requerido, pero permanece donde es bien tratado, no puede ser manipulado, 
solamente atra&iacute;do”
Lic. Dolores Tessore / Directora de ventas.
                    </p>
                    </div>
                </div><!-- .row -->

            </div>
        </section>
        <!-- END ABOUT -->
<section class="module bg-black-alfa-30 parallax color-white" style="width: 100% !important;">


<div id="second">

            <div class="story text-center">
            <h2 class="estilo-letras">SUMATE A NUESTRO EQUIPO DE VENTAS</h2>
    
    <a href="#" class="btn btn-lg estilo-boton sombra">Quiero ser parte</a>
    
        </div> 
                
        
    </div>

</section>
        <!-- END CALLOUT -->

        <!-- catalago -->
        <section class="module bg-white-dark p-b-0">
            <div class="container">

                <div class="row">
                    <div class="col-sm-6 col-sm-offset-3">
                        <div class="module-header text-center">
                            <h2 class="montserrat text-uppercase">Cat&aacute;lagos</h2>
                        </div>
                    </div>
                </div>

            </div>

            <!-- WORKS WRAPPER -->
            <div class="works-grid-wrapper" style="background: #fffefe;">

                <!-- WORKS GRID -->
                <div id="works-grid" class="works-grid works-grid-4">

                    <!-- catalago ITEM -->
                    <article class="work-item brand" style="float: left;">
                        <div class="work-wrapper">
                            <img src="assets/images/portfolio/1.jpg" alt="">
                            <div class="work-overlay">
                                <div class="work-caption">
                                    <h6 class="work-title btn boton-dos" >Ver cat&aacute;lago</h6>
                                </div>
                            </div>
                            <a href="#" class="work-link"></a>
                        </div>
                    </article>
                    <!-- END catalago ITEM -->

                    <!-- catalago ITEM -->
                    <article class="work-item motion" style="float: left;">
                        <div class="work-wrapper">
                            <img src="assets/images/portfolio/2.jpg" alt="">
                            <div class="work-overlay">
                                <div class="work-caption">
                                    <h6 class="work-title btn boton-dos" >Ver cat&aacute;lago</h6>
                                </div>
                            </div>
                            <a href="#" class="work-link"></a>
                        </div>
                    </article>
                    <!-- END catalago ITEM -->

                    <!-- catalago ITEM -->
                    <article class="work-item printing" style="float: left;">
                        <div class="work-wrapper">
                            <img src="assets/images/portfolio/3.jpg" alt="">
                            <div class="work-overlay">
                                <div class="work-caption">
                                    <h6 class="work-title btn boton-dos" >Ver cat&aacute;lago</h6>
                                </div>
                            </div>
                            <a href="#" class="work-link"></a>
                        </div>
                    </article>
                    <!-- END catalago ITEM -->

                    <!-- catalago ITEM -->
                    <article class="work-item design" style="float: left;">
                        <div class="work-wrapper">
                            <img src="assets/images/portfolio/4.jpg" alt="">
                            <div class="work-overlay">
                                <div class="work-caption">
                                    <h6 class="work-title btn boton-dos" >Ver cat&aacute;lago</h6>
                                </div>
                            </div>
                            <a href="#" class="work-link"></a>
                        </div>
                    </article>
                    <!-- END catalago ITEM -->

                    <!-- catalago ITEM -->
                    <article class="work-item brand" style="float: left;">
                        <div class="work-wrapper">
                            <img src="assets/images/portfolio/5.jpg" alt="">
                            <div class="work-overlay">
                                <div class="work-caption">
                                    <h6 class="work-title btn boton-dos" >Ver cat&aacute;lago</h6>
                                </div>
                            </div>
                            <a href="#" class="work-link"></a>
                        </div>
                    </article>
                    <!-- END catalago ITEM -->

                    <!-- catalago ITEM -->
                    <article class="work-item motion" style="float: left;">
                        <div class="work-wrapper">
                            <img src="assets/images/portfolio/6.jpg" alt="">
                            <div class="work-overlay">
                                <div class="work-caption">
                                    <h6 class="work-title btn boton-dos" >Ver cat&aacute;lago</h6>
                                </div>
                            </div>
                            <a href="#" class="work-link"></a>
                        </div>
                    </article>
                    <!-- END catalago ITEM -->

                    <!-- catalago ITEM -->
                    <article class="work-item printing" style="float: left;">
                        <div class="work-wrapper">
                            <img src="assets/images/portfolio/7.jpg" alt="">
                            <div class="work-overlay">
                                <div class="work-caption">
                                    <h6 class="work-title btn boton-dos" >Ver cat&aacute;lago</h6>
                                </div>
                            </div>
                            <a href="#" class="work-link"></a>
                        </div>
                    </article>
                    <!-- END catalago ITEM -->

                    <!-- catalago ITEM -->
                    <article class="work-item design" style="float: left;">
                        <div class="work-wrapper">
                            <img src="assets/images/portfolio/8.jpg" alt="">
                            <div class="work-overlay">
                                <div class="work-caption">
                                    <h6 class="work-title btn boton-dos" >Ver cat&aacute;lago</h6>
                                </div>
                            </div>
                            <a href="#" class="work-link"></a>
                        </div>
                    </article>


                    <article class="estilo-centrado design" style="float: left;z-index: 300;">
                        <a href"#"><h6 class="work-title btn boton-cuatro">Ver todos los catálagos</h6></a>
                    </article>
                
                    <!-- END catalago ITEM -->

                </div>
                <!-- END WORKS GRID -->

            </div>
            <!-- END WORKS WRAPPER -->
        </section>
        <!-- END catalago -->


        <!-- FEATURES -->
        <section class="module">
            <div class="container">

                <div class="row form-group" >
                    <div class="col-sm-10 col-sm-offset-1" style="margin-top: 7%;">
                        <div class="module-header text-center">
                            <h2 class="montserrat text-uppercase">Contacto</h2>
                            <h4 style="color: #464444;padding: 3%;">CORREOS</h4>
                            <div class="col-sm-12"><div class="col-sm-6"><a href="mailto:lolyessore@yahoo.ar"> lolyessore@yahoo.ar</a> </div><div class="col-sm-6"> <a href="mailto:info@arbellentheos.com.ar">info@arbellentheos.com.ar</a> </div> </div>
                        
                            <h4 style="color: #464444;padding: 3%;">TELEFONOS</h4>
                        <div class="col-sm-12"><div class="col-sm-6"> <p>DESDE ARGENTINA:</p> </div><div class="col-sm-6"><p> DESDE EL EXTERIOR: </p></div> </div>                      
                        <div class="col-sm-12"><div class="col-sm-6"> <p>Tel.:02324-425574 Fax: 02324-433601 </p></div><div class="col-sm-6"> <p>Tel.: +54 2324 425574 Fax: +54 2324 433601</p> </div> </div>
                        </div>


                        <div class="col-sm-12">
                            <div class="col-sm-6" style="padding: 2%;"> <input class="form-control" type="text" name="nombre" placeholder="Nomre y Apellido"> </div>
                            <div class="col-sm-6" style="padding: 2%;"> <input class="form-control" type="text" name="email" placeholder="Email"> </div>
                        </div>


                        <div class="col-sm-12">
                            <div class="col-sm-6" style="padding: 2%;"> <input type="text" class="form-control" name="tel" placeholder="Tel&oacute;fono"> </div>
                            <div class="col-sm-6" style="padding: 2%;"> <input type="text" class="form-control" name="ciudad" placeholder="Ciudad"> </div>
                        </div>

                        <div class="col-sm-12">
                            <div class="col-sm-12" style="padding: 2%;"> <input type="text" class="form-control" name="provincia" placeholder="provincia"> </div>
                        </div>

                        <div class="col-sm-12" style="padding: 2%;"> 
                                <div class="col-sm-12"> <textarea class="form-control" placeholder="Mensaje" style="height: 120px;"></textarea>
                        </div>

                        <div class="col-sm-12" style="padding: 2%;">
                            <div class="col-sm-12" style="text-align: center;"> <input type="submit" name="boton" value="enviar" class="btn estilo-btn"></div>
                        </div>


                    </div>

                    </div>
                </div><!-- .row -->

            </div>
        </section>
        <!-- END FEATURES -->
